@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Liu+Jian+Mao+Cao&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

body {
  background-color: #B0D6AE;
  color: white;
  margin: 0;
  font-family: 'Oxygen', sans-serif;
  font-size: calc(1em + 1vw);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media only screen and (min-width: 992px) {
    background: url('./img/background.png');
  }
}
